
.button_box{
  font-size: 24px;
  font-family: VT323;
  border-radius: 5%;
  /* border: black dashed 2px; */
  padding: 10px;
  display: inline-flex;
  cursor: pointer;
  margin: 5px;
  margin-top: 40px;
}

.button_box{
    border-color: #3498db;
    color: #FFF;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    
  }

.button_box:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}