.physical-test{
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center ;

}

h1{
    font-family: VT323;
    color: rgb(38, 153, 251);
}

#info{
    color: white;
    font-family: PT Sans;
}

p{
    color:rgb(38, 153, 251);
    font-family: PT Sans;
}

label{
    color: white;
}

#form{
    align-items: left;
}