h1{
    font-family: VT323;
    color: rgb(38, 153, 251);
}

#info{
    color: white;
    font-family: PT Sans;
}

p{
    color:rgb(38, 153, 251);
    font-family: PT Sans;
}

label{
    color: white;
}