h1{
    font-family: VT323;
    color: blue;
}

#info{
    color: white;
    font-family: PT Sans;
}

p{
    color: blue;
    font-family: PT Sans;
}

input{
    color: white;
}

label{
    color: white;
}