.chatpg{
    display: inline-flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    position: relative;
    top: -100%;
    
}

.chatbg{
    position: relative;
    margin-left: 30%;
    border: red solid 1px;
    padding: 5%;
    width: 25vw;
    height: fit-content;
}

.chatpg a{
    position: fixed;
    top: 40px;
    left: 40px;
}

.chat_stars{
    position: relative;
    top: -30px;
    left: -30px;
    background-color: black;
    width: 120vw;
    height: 120vh;
    overflow: hidden;
}

.chat_stars img{
    position: relative;
    top: -10%;
    left: -10%;
    width: 120vw ;
    height: 120vh ;
    
} 