.infopage{
    margin: 30px;
}

.ibg{
    position: absolute;
    top: -0%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}


.stars{
    /* display: flex; */
    background-color: black;
    position: relative;
    top: -30px;
    left: -30px;
    width: 100vw;
    height: 375vh;
    /* overflow: hidden; */
}

.stars img{
    position: relative;
    left: -10%;
    top: -10%;
    width: 120vw ;
    height: 200vh ;
    
}

#ibutton{
    position: fixed;
    top: 50px;
    left: 40px;
}

.icontain{
    display: flex;
    flex-direction: column;
    left: 32%;
    position: relative;
    /* position: relative;
    left: 30%;
    align-items: center; */
}