.container{
    width: 16%;
    height: 70vh;
    display: inline-flex;
    flex-direction: column;
    /* border: black solid 1px; */
    background-color: #00458fdc ;
    padding: 5px;
    
}

.container img{
    position: relative;
    top: -30px;
    width: 200px;
    height: 175px;
    object-fit: contain;
}

.container p {
    color: #ffffff;
    font-family: PT Sans;
    position: relative;
    top: -80px;
    display: block;
}

