.infobg{
    background-color: black;
}

.infocontainer{
    width: 30%;
    height: 55vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: white solid 1px;
    /* background-color: #141414 ; */
    /* margin-top: 20px; */
    padding:25px;
    
}

.infocontainer a{
    position: relative;
    top: -20px;
    margin: 10px;
}

.infocontainer img{
    position: relative;
    /* top: -30px; */
    width: 400px;
    
    object-fit: contain;
}

.infocontainer p {
    font-size: small;
    color: #ffffff;
    font-family: PT Sans;
    position: relative;
    top: -60px;
    display: block;
}

