.gbg{

    max-height: 300vh;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-bottom: 20px;
}

#header{
    position: relative;
    left: 45%;
}

#button{
    position: fixed;
    top: 50px;
    left: 40px;
}

.column {
    margin-top: 10%;
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  #left{
      margin-left: -70px;
  }

  #right{
      margin-right: 30px;
  }